/* header */
#header {
    width: 100%;
    height: 60px;
    font-size: 13px;
    background-color: #F1F1F1;
}

#left_menu {
    float: left;
}

#left_menu table {
    border: none;
}

#left_menu tr {
    height: 60px;
}

#left_menu td#logo {
    width: 140px;
    text-align: center;
}

#left_menu #search_spn {
    background-color: #2d6ca2;
    border: 1px solid #2d6ca2;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    padding: 0 10px;
}

#left_menu #search {
    background-image: none;
    background-color: transparent;
    border: 0;
    color: white;
    padding: 0 10px;
}

#left_menu img {
    width: 100px;
    height: 40px;
}

#keyword {
    width: 500px;
    background-color: #FFF;
    border: 1px solid rgb(185,185,185);
    border-radius: 1px;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    opacity: 0.9;
}

/* menu */
#menu {
    padding-right: 15px;
    float: right;
}

#menu ul {
    float: left;
    list-style-type: none;
}

#menu li {
    display: inline;
}

#menu a {
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    opacity: 0.75;
    line-height: 60px;
}

#menu a:hover, #menu a:focus {
    text-decoration: underline;
    opacity: 0.85;
}

.container {
    width: 1100px;
}