body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.menu {
    position: absolute;
    width: 100%;
    top: 15px;
}

.menu_item {
    padding-left: 30px;
    padding-right: 15px;
    float: right;
}

.menu_item .icon {
    padding-left: 10px;
    padding-right: 10px;
}