body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

/* 导航 */
#gb {
    position: absolute;
    width: 100%;
    top: 15px;
    font-size: 13px;
}

#gb_2 {
    padding-left: 30px;
    padding-right: 15px;
    float: right;
    display: flex;
}

#gb a.gb_P {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
    padding-left: 10px;
    padding-right: 10px;
}

#gb a.gb_P:hover, #gb a.gb_P:focus {
    text-decoration: underline;
    opacity: 0.85;
}

/* logo */
#lga{
    margin-top:80px;
    height: 231px;
    text-align: center;
}
#lga img{
   margin-top: 80px;
   width: 272px;
   height: 93px;
}
#lga #logo-sub{
    color: #4285f4;
    left:79px;
    position: relative;
}

/* 表单 */
form {
    height: 30px;
}

#kw {
    width: 670px;
    background-color: #FFF;
    border: 1px solid rgb(185,185,185);
    border-radius: 1px;
    font: 18px arial,sans-serif;
    height: 36px;
    line-height: 36px;
    position: relative;
}