body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

/* 导航 */
#header {
    position: absolute;
    width: 100%;
    top: 15px;
    font-size: 13px;
}

#menu {
    padding-left: 30px;
    padding-right: 15px;
    float: right;
}

#menu ul {
    float: left;
    list-style-type: none;
}

#menu li {
    display: inline;
}

#header a {
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    opacity: 0.75;
}

#header a:hover, #header a:focus {
    text-decoration: underline;
    opacity: 0.85;
}

/* logo */
#logo{
    margin-top:80px;
    text-align: center;
}
#logo img{
   margin-top: 80px;
   width: 272px;
   height: 93px;
}
#logo #logo-sub{
    color: #4285f4;
    left:79px;
    position: relative;
}

/* 表单 */
#fkbx {
    text-align: center;
}

#kw {
    width: 584px;
    background-color: #FFF;
    border: 1px solid rgb(185,185,185);
    border-radius: 1px;
    font: 18px arial,sans-serif;
    height: 36px;
    line-height: 36px;
    position: relative;
}

#jsb {
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 0 16px;
    margin: 11px 4px;
}

/* 底部 */
#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: #F2F2F2;
    text-align: center;
}