* {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

#result ul {
    list-style-type: none;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 20px;
}

#result li {
    margin-top: 20px;
}

#result .title {
    text-decoration: none;
    color: #1a0dab;
    font-size: 18px;
    cursor: pointer;
    word-wrap: break-word;
}

#result .title:hover {
    text-decoration: underline;
}

#result .title:visited {
    color: #A32F99;
}