/* header */
#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    font-size: 13px;
    background-color: #F1F1F1;
}

#logo {
    padding-left: 15px;
    float: left;
}

#logo img {
    width: 100px;
    height: 40px;
}

/* menu */
#menu {
    padding-right: 15px;
    float: right;
}

#menu ul {
    float: left;
    list-style-type: none;
}

#menu li {
    display: inline;
}

#header a {
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    opacity: 0.75;
    line-height: 60px;
}

#header a:hover, #header a:focus {
    text-decoration: underline;
    opacity: 0.85;
}