* {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.title {
    text-decoration: none;
    color: #1a0dab;
    font-size: 18px;
    cursor: pointer;
    word-wrap: break-word;
}

.title:hover {
    text-decoration: underline;
}

.magnet {
    text-decoration: none;
    color: #00591E;
    font-size: 16px;
    cursor: pointer;
    word-wrap: break-word;
}

.magnet:hover {
    text-decoration: underline;
}

.dl-horizontal dt, .dl-horizontal dd {
    line-height: 40px;
}