/* header */
#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    font-size: 13px;
    background-color: #F1F1F1;
}

#logo {
    padding-left: 15px;
    float: left;
}

#logo img {
    width: 100px;
    height: 40px;
}

#keyword {
    width: 584px;
    background-color: #FFF;
    border: 1px solid rgb(185,185,185);
    border-radius: 1px;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
}

/* menu */
#menu {
    padding-right: 15px;
    float: right;
}

#menu ul {
    float: left;
    list-style-type: none;
}

#menu li {
    display: inline;
}

#menu a {
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    opacity: 0.75;
    line-height: 60px;
}

#menu a:hover, #menu a:focus {
    text-decoration: underline;
    opacity: 0.85;
}

/* container */
#container {
    margin-left: 140px;
    margin-top: 60px;
    width: 600px;
}

#container #summary {
    margin-top: 80px;
}

#container #summary .title {
    text-decoration: none;
    color: #1a0dab;
    font-size: 16px;
    cursor: pointer;
    word-wrap: break-word;
}

#container #summary .title:hover {
    text-decoration: underline;
}

#container #summary .magnet {
    text-decoration: none;
    color: #00591E;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    line-height: 30px;
}

#container #summary .magnet:hover {
    text-decoration: underline;
}

#container #summary ul {
    list-style-type: none; 
    margin: 10px 0;
}

#container #summary ul:after {
    clear: both;
    display: block;
    content: '';
}

#container #summary li {
    float: left;
    border-radius: 2px;
    margin-right: 10px;
    padding: 0 10px;
}

#container #summary .copy {
    background-color: #4285F4;
}

#container #summary .download {
    background-color: #EA483C;
}

#container #summary .play {
    background-color: #34A853;
}

#container #summary .share {
    background-color: #FBBC05;
}

#container #summary a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* detail */
.detail {
    margin-top: 20px;
}

.detail .detail_sub {
    height: 25px;
    border-bottom: 2px solid #96C464; 
}

.detail .detail_sub span {
    background-color: #96C464;
    color: white;
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    height: 25px;
    line-height: 24px;
    display: inline-block;
    padding: 0 10px;
}

.detail table {
    width: 100%;
}

.detail tr {
    height: 40px;
    font-size: 15px;
}

.detail .torrent td.left {
    width: 15%;
    text-align: right;
}

.detail .torrent td.right {
    width: 85%;
    text-align: left;
    padding-left: 20px;
    opacity: 0.8;
}

.detail .file td {
    opacity: 0.8;
}

/* footer */
#footer {
    width: 100%;
    height: 40px;
    background-color: #F2F2F2;
    text-align: center;
}

#footer-sub {
    position: relative;
}

#footer #copyright {
    color: #000;
    opacity: 0.85;
    font-size: 13px;
    line-height: 40px;
}

#footer #language {
    position: absolute;
    right: 25px;
    bottom: 8px;
}