* {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

/* container */
#container {
    margin-left: 140px;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 680px;
}

#container #summary {
    margin-top: 80px;
    box-shadow: 1px 1px 2px #666;
    padding: 10px;
    margin-bottom: 20px;
}

#container #summary .title {
    text-decoration: none;
    color: #1a0dab;
    font-size: 16px;
    cursor: pointer;
    word-wrap: break-word;
}

#container #summary .title:hover {
    text-decoration: underline;
}

#container #summary .magnet {
    text-decoration: none;
    color: #00591E;
    font-size: 14px;
    cursor: pointer;
    word-wrap: break-word;
    line-height: 40px;
}

#container #summary .magnet:hover {
    text-decoration: underline;
}

#container #summary ul {
    list-style-type: none; 
    padding: 0px;
}

#container #summary ul:after {
    clear: both;
    display: block;
    content: '';
}

#container #summary li {
    float: left;
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;
    padding: 5px 10px;
    box-shadow: 1px 1px 1px #666;
}

#container #summary li a {
    font-size: 14px;
    color: white;  
    text-decoration: none;
}

#container #summary .copy {
    background-color: #4285F4;
}

#container #summary .download {
    background-color: #EA483C;
}

#container #summary .play {
    background-color: #34A853;
}

#container #summary .share {
    background-color: #FBBC05;
}

/* detail */
.detail {
    margin-top: 30px;
    box-shadow: 1px 1px 2px #666;
}

.detail .detail_sub {
    height: 40px;
    background-color: #f7f7f7;
}

.detail .detail_sub span {
    color: #000;
    opacity: 0.9;
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

table {
    width: 100%;
}

tr {
    height: 40px;
    font-size: 14px;
}

.torrent td.left {
    width: 15%;
    text-align: right;
}

.torrent td.right {
    width: 85%;
    text-align: left;
    padding-left: 20px;
    opacity: 0.8;
}

/* tag */
.tag {
    display: inline-block;
    background-color: #113351;
    color: white;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #666;
}

.tag a {
    text-decoration: none;
    color: white;
}

/* file */
.file td.left {
    width: 85%;
    text-align: left;
    padding-left: 10px;
}

.file td.right {
    width: 15%;
    text-align: center;
    opacity: 0.8;
}

/* notice */
.notice {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
}