* {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

/* header */
#header a {
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    opacity: 0.65;
    line-height: 60px;
    font-size: 14px;
}

#header a:hover, #header a:focus {
    text-decoration: underline;
    opacity: 0.75;
}

/* logo */
#logo{
    margin-top: 100px;
    text-align: center;
}
#logo img{
   width: 272px;
   height: 93px;
}

#logo #logo-sub {
    position: relative;
    display: inline;
}

#logo #logo-title{
    color: #4285f4;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* form */
#form {
    text-align: center;
    margin-top: 20px;
}

#keyword {
    width: 534px;
    background-color: #FFF;
    border: 1px solid #2BAF57;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
}

#search {
    background-image: none;
    background-color: #2BAF57;
    border: 1px solid #2BAF57;
    color: white;
    padding: 0 30px;
    height: 43px;
    line-height: 43px;
    font-size: 18px;
}

/* footer */
#footer {
    width: 100%;
    background-color: #F2F2F2;
    text-align: center;
    clear: both;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

#footer-sub {
    position: relative;
}

#footer .copyright {
    color: #000;
    opacity: 0.85;
    font-size: 13px;
    padding: 0;
    margin: 0px;
}

#footer #language {
    position: absolute;
    right: 25px;
    bottom: 10px;
}